@tailwind base;
@tailwind components;

@import './base.css';

@theme inline {
  --color-sigil-dialog-foreground: var(--color-sigil-foreground);
  /*
   * Any component-specific tailwind tokens
   */
  --background-image-sigil-control-button-bg: var(--sigil-control-button-bg);
  --background-image-sigil-control-button-bg-hover: var(
    --sigil-control-button-bg-hover
  );
  --background-image-sigil-control-button-bg-active: var(
    --sigil-control-button-bg-active
  );
  --color-sigil-control-button-fg: var(--sigil-control-button-fg);
  --color-sigil-control-button-fg-hover: var(--sigil-control-button-fg-hover);
  --color-sigil-control-button-fg-active: var(--sigil-control-button-fg-active);
}

@utility backdrop-sigil-dialog {
  &::backdrop {
    background: rgb(0 0 0 / 50%);
  }
}

@utility sigil-control-button-group {
  display: flex;
  align-items: stretch;
  gap: 1px;
  background: var(--sigil-border);
  border-radius: var(--sigil-control-button-border-radius);
  padding: 2px;

  --sigil-control-button-group-padding: calc(var(--arcane-spacing) / 6)
    calc(var(--arcane-spacing) / 3);
  --sigil-control-button-border-radius-group: calc(
    var(--sigil-control-button-border-radius) - 2px
  );

  & > button {
    --sigil-control-button-border-radius: var(
      --sigil-control-button-border-radius-group
    );
    flex-grow: 1;
  }
}

@utility sigil-control-button-group-variant-large {
  --sigil-control-button-group-padding: calc(var(--arcane-spacing) / 3)
    calc(var(--arcane-spacing) / 1.5);
}

@utility sigil-control-button {
  background: none;
  border: none;
  border-top: 0 solid transparent;
  color: var(--sigil-control-button-fg);
  padding: calc(var(--arcane-spacing) / 6);
  cursor: pointer;
  outline: none;
  display: flex;
  align-items: stretch;
  flex-basis: 0;

  & > span {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--sigil-control-button-border-radius);
    padding: calc(var(--arcane-spacing) / 6) calc(var(--arcane-spacing) / 3);
    overflow: hidden;
    white-space: nowrap;
    gap: calc(var(--arcane-spacing) / 3);
    background: var(--sigil-button-bg);
    box-shadow:
      inset 0 1px 1px var(--sigil-shadow-emboss-highlight),
      inset 0 -1px 0 var(--sigil-shadow-emboss-dark);
    background: var(--sigil-control-button-bg);
    border: 2px solid var(--sigil-border);
  }

  &:focus {
    > span {
      background: var(--sigil-control-button-bg-hover);
      color: var(--sigil-control-button-fg-hover);
    }
  }

  &:hover {
    > span {
      background: var(--sigil-control-button-bg-hover);
      color: var(--sigil-control-button-fg-hover);
    }
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;

    &:hover,
    &:focus {
      > span {
        background: var(--sigil-control-button-bg);
        color: inherit;
      }
    }
  }
}

@utility sigil-control-button-touching {
  border-color: var(--sigil-foreground-highlight);

  > span {
    background: var(--sigil-control-button-bg-hover);
    color: var(--sigil-control-button-fg-hover);
  }
}

@utility sigil-control-button-active {
  border-color: var(--sigil-usage-hint-foreground);

  > span {
    background: var(--sigil-control-button-bg-active);
    color: var(--sigil-control-button-fg-active);
    box-shadow:
      inset 0 1px 1px var(--sigil-shadow-emboss-dark),
      inset 0 -1px 0 var(--sigil-shadow-emboss-highlight);
  }

  &:hover,
  &:focus {
    > span {
      color: var(--sigil-control-button-fg-active);
      background: var(--sigil-control-button-bg-active-hover);
    }
  }
}

@utility sigil-control-button-active-touching {
  > span {
    background: var(--sigil-control-button-bg-hover);
  }
}

@utility sigil-control-button-primary {
  --sigil-control-button-bg: var(--sigil-usage-hint-background);
  --sigil-control-button-bg-hover: var(--sigil-usage-hint-border);
  --sigil-control-button-bg-active: var(--sigil-usage-hint-border);
  --sigil-control-button-fg: var(--sigil-usage-hint-text);
  --sigil-control-button-fg-hover: var(--sigil-usage-hint-text);
  --sigil-control-button-fg-active: var(--sigil-usage-hint-text);
}

@utility sigil-control-button-destructive {
  --sigil-control-button-bg: var(--sigil-usage-red-background);
  --sigil-control-button-bg-hover: var(--sigil-usage-red-border);
  --sigil-control-button-bg-active: var(--sigil-usage-red-border);
  --sigil-control-button-fg: var(--sigil-usage-red-text);
  --sigil-control-button-fg-hover: var(--sigil-usage-red-text);
  --sigil-control-button-fg-active: var(--sigil-usage-red-text);
}

@utility sigil-control-button-variant-border {
  border-top-width: 2px;
}

@utility sigil-control-button-variant-group {
  padding: 0;

  > span {
    padding: var(--sigil-control-button-group-padding);
    border-radius: 0;
    border: 0;
  }

  &:first-child > span {
    border-top-left-radius: var(--sigil-control-button-border-radius);
    border-bottom-left-radius: var(--sigil-control-button-border-radius);
  }

  &:last-child > span {
    border-top-right-radius: var(--sigil-control-button-border-radius);
    border-bottom-right-radius: var(--sigil-control-button-border-radius);
  }
}

@utility sigil-control-button-variant-large {
  padding: 0;

  > span {
    padding: calc(var(--arcane-spacing) / 3) calc(var(--arcane-spacing) / 1.5);
  }
}

@utility sigil-control-button-variant-properties {
  padding: 0;

  > span {
    padding: calc(var(--arcane-spacing) / 2.5) calc(var(--arcane-spacing) / 1.5);
  }
}

@utility sigil-control-button-variant-toolbar {
  padding: 0 calc(var(--arcane-spacing) / 6);

  > span {
    padding: calc(var(--arcane-spacing) / 3) calc(var(--arcane-spacing) / 2);
  }
}

@utility sigil-control-button-variant-titlebar {
  > span {
    border-radius: 6px;
  }
}

@utility sigil-control-button-variant-table-row {
  padding: 0;

  > span {
    border-radius: 0;
    padding: calc(var(--arcane-spacing) / 2) calc(var(--arcane-spacing) / 1.5);
  }
}

@utility sigil-grid-table-basic {
  display: grid;
  grid-template-columns: [name-start] 1fr [name-end controls-start] max-content [controls-end];
  grid-gap: var(--sigil-control-gap);
  font-size: 0.7rem;
}

@utility sigil-grid-table-basic-subgrid {
  display: grid;
  grid-area: auto / name-start / span 1 / controls-end;
  grid-template-columns: subgrid;
}

@utility sigil-grid-pos-name {
  grid-column: name-start / name-end;
  grid-row: auto / span 1;
}

@utility sigil-grid-pos-controls {
  grid-column: controls-start / controls-end;
  grid-row: auto / span 1;
}

.arcane-theme-root {
  /*
   * Any component-specific styling variables
   *
   * These must be here rather than root because they need to make use of
   * the theme variables defined on this element.
   */
  --sigil-control-button-bg: var(--arcane-gradient-button);
  --sigil-control-button-bg-hover: var(--arcane-gradient-button-hover);
  --sigil-control-button-bg-active: var(--arcane-gradient-button-active);
  --sigil-control-button-bg-active-hover: var(
    --arcane-gradient-button-pressed-hover
  );
  --sigil-control-button-fg: var(--sigil-foreground);
  --sigil-control-button-fg-hover: var(--sigil-foreground-highlight);
  --sigil-control-button-fg-active: var(--sigil-usage-hint-foreground);

  --sigil-control-button-border-radius: 4px;
}
