@tailwind base;
@tailwind components;

@import './base.css';

@theme inline {
  /*
   * Any component-specific tailwind tokens
   */
  --color-sigil-dialog-foreground: var(--arcane-text-normal);
  --color-sigil-control-button-bg: var(--sigil-control-button-bg);
  --color-sigil-control-button-bg-hover: var(--sigil-control-button-bg-hover);
  --color-sigil-control-button-bg-active: var(--sigil-control-button-bg-active);
  --color-sigil-control-button-fg: var(--sigil-control-button-fg);
  --color-sigil-control-button-fg-hover: var(--sigil-control-button-fg-hover);
  --color-sigil-control-button-fg-active: var(--sigil-control-button-fg-active);
  --color-sigil-control-button-border: var(--sigil-control-button-border);
  --color-sigil-control-button-border-hover: var(
    --sigil-control-button-border-hover
  );
  --color-sigil-control-button-border-active: var(
    --sigil-control-button-border-active
  );
}

@utility backdrop-sigil-dialog {
  &::backdrop {
    background: rgb(0 0 0 / 50%);
  }
}

@utility sigil-control-button {
  background: none;
  border: none;
  border-top: 0 solid transparent;
  color: var(--sigil-control-button-fg);
  padding: calc(var(--arcane-spacing) / 6);
  cursor: pointer;
  outline: none;
  display: flex;
  align-items: stretch;
  flex-basis: 0;

  & > span {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    border-radius: 2px;
    padding: calc(var(--arcane-spacing) / 6) calc(var(--arcane-spacing) / 3);
    overflow: hidden;
    white-space: nowrap;
    gap: calc(var(--arcane-spacing) / 3);
    background: var(--sigil-control-button-bg);
    border: 1px solid var(--sigil-control-button-border);
  }

  &:focus {
    > span {
      background: var(--sigil-control-button-bg-hover);
      color: var(--sigil-control-button-fg-hover);
      border-color: var(--sigil-control-button-border-hover);
    }
  }

  &:hover {
    border-color: var(--sigil-foreground-highlight);

    > span {
      background: var(--sigil-control-button-bg-hover);
      color: var(--sigil-control-button-fg-hover);
      border-color: var(--sigil-control-button-border-hover);
    }
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;

    &:hover,
    &:focus {
      border-color: transparent;

      > span {
        background: none;
        color: inherit;
        border-color: transparent;
      }
    }
  }
}

@utility sigil-control-button-touching {
  border-color: var(--sigil-foreground-highlight);

  > span {
    background: var(--sigil-control-button-bg-hover);
    color: var(--sigil-control-button-fg-hover);
    border-color: var(--sigil-control-button-border-hover);
  }
}

@utility sigil-control-button-active {
  border-color: var(--sigil-usage-hint-foreground);

  > span {
    background: var(--sigil-control-button-bg-active);
    color: var(--sigil-control-button-fg-active);
    border-color: var(--sigil-control-button-border-active);
  }

  &:hover,
  &:focus {
    > span {
      color: var(--sigil-control-button-fg-active);
      background: var(--sigil-control-button-bg-hover);
    }
  }
}

@utility sigil-control-button-active-touching {
  > span {
    background: var(--sigil-control-button-bg-hover);
  }
}

@utility sigil-control-button-variant-border {
  border-top-width: 2px;
}

@utility sigil-control-button-variant-large {
  padding: 0;

  > span {
    padding: calc(var(--arcane-spacing) / 3) calc(var(--arcane-spacing) / 1.5);
  }
}

@utility sigil-control-button-variant-properties {
  padding: 0;

  > span {
    padding: calc(var(--arcane-spacing) / 2.5) calc(var(--arcane-spacing) / 1.5);
  }
}

@utility sigil-control-button-variant-toolbar {
  padding: 0 calc(var(--arcane-spacing) / 6);

  > span {
    padding: calc(var(--arcane-spacing) / 3) calc(var(--arcane-spacing) / 2);
  }
}

@utility sigil-control-button-variant-titlebar {
  > span {
    border-radius: 6px;
  }
}

@utility sigil-control-button-variant-table-row {
  padding: 0;

  > span {
    border-radius: 0;
    padding: calc(var(--arcane-spacing) / 2) calc(var(--arcane-spacing) / 1.5);
  }
}

.arcane-theme-root {
  /*
   * Any component-specific styling variables
   *
   * These must be here rather than root because they need to make use of
   * the theme variables defined on this element.
   */
  --sigil-control-button-bg: transparent;
  --sigil-control-button-bg-hover: var(--sigil-border);
  --sigil-control-button-bg-active: var(--sigil-bg-light);
  --sigil-control-button-fg: var(--sigil-foreground);
  --sigil-control-button-fg-hover: var(--sigil-foreground-highlight);
  --sigil-control-button-fg-active: var(--sigil-usage-hint-foreground);
  --sigil-control-button-border: transparent;
  --sigil-control-button-border-hover: var(--sigil-border);
  --sigil-control-button-border-active: var(--sigil-bg-light);
}
